<p>index works!</p>

    <div>
        <h4>Pacientes</h4>
        <p-toolbar>
                <p-button label="Agregar" icon="pi pi-plus" (onClick)="agregarPaciente()"></p-button><br>
                <p-button label="Editar" icon="pi pi-upload" styleClass="p-button-success" (onClick)="editarPaciente()"></p-button><br>
                <p-button label="Consultar" icon="pi pi-check" styleClass="p-button-warning" (onClick)="consultarPaciente()"></p-button><br>
                <p-button label="Ver Todos" icon="pi pi-search" (onClick)="verPaciente()"></p-button><br>
                <p-button label="Eliminar"icon="pi pi-times" styleClass="p-button-danger" (onClick)="eliminarPaciente()"></p-button><br>
        </p-toolbar>
    </div>
    <div>
        <h4>Medicos</h4>
        <p-toolbar>
            <p-button label="Agregar" icon="pi pi-plus" (onClick)="agregarMedico()" ></p-button><br>
            <p-button label="Editar" icon="pi pi-upload" styleClass="p-button-success" (onClick)="editarMedico()"></p-button><br>
            <p-button label="Consultar" icon="pi pi-check" styleClass="p-button-warning" (onClick)="consultarMedico()"></p-button><br>
            <p-button label="Ver Todos" icon="pi pi-search" (onClick)="verMedico()"></p-button><br>
            <p-button label="Eliminar"icon="pi pi-times" styleClass="p-button-danger" (onClick)="eliminarMedico()"></p-button><br>
    </p-toolbar>

    </div>
    <div>
        <h4>Medicamentos</h4>
        <p-toolbar>
            <p-button label="Agregar" icon="pi pi-plus" (onClick)="agregarMedicamento()"></p-button><br>
            <p-button label="Editar" icon="pi pi-upload" styleClass="p-button-success" (onClick)="editarMedicamento()"></p-button><br>
            <p-button label="Consultar" icon="pi pi-check" styleClass="p-button-warning" (onClick)="consultarMedicamento()"></p-button><br>
            <p-button label="Ver Todos" icon="pi pi-search" (onClick)="verMedicamento()"></p-button><br>
            <p-button label="Eliminar"icon="pi pi-times" styleClass="p-button-danger" (onClick)="eliminarMedicamento()"></p-button><br>
    </p-toolbar>
    </div>
    <div>
        <h4>Enfermedades</h4>
        
        <p-toolbar>
            <p-button label="Agregar" icon="pi pi-plus" (onClick)="agregarEnfermedad()"></p-button><br>
            <p-button label="Editar" icon="pi pi-upload" styleClass="p-button-success" (onClick)="editarEnfermedad()"></p-button><br>
            <p-button label="Consultar" icon="pi pi-check" styleClass="p-button-warning" (onClick)="consultarEnfermedad()"></p-button><br>
            <p-button label="Ver Todos" icon="pi pi-search" (onClick)="verEnfermedad()"></p-button><br>
            <p-button label="Eliminar"icon="pi pi-times" styleClass="p-button-danger" (onClick)="eliminarEnfermedad()"></p-button><br>
    </p-toolbar>
    </div>

